.banner .block {
  margin: 110px auto 0;
  width: 80px;
  height: 5px;
  background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
}

.banner .start {
  color: white;
  margin: 45px auto 0;
  font-size: 38px;
}

.banner .start2 {
  color: rgba(255, 255, 255, 0.45);
  margin: 30px auto 0;
  font-size: 22px;
}

.account {
  padding: 60px 0;
}

.account .account-text{
  font-size: 32px;
  color: black;
}

.account .account-text-en{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
}

.account .account-table {
  margin-top: 20px;
}

.account .account-table .table {
  width: 1180px;
  margin: 0 auto;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  border: 0;
}

.account .account-table .table td {
  height: 40px;
  border: 0;
}

.account .account-table .table tr {
  transition: 0.1s all;
}

.account .account-table .table td:nth-child(1) {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

.account .account-table .table tr:nth-child(even) {
  background: #EDF0F3;
}

.account .account-table .table tr:hover {
  color: white;
  background-color: #147AA8;
}

.account .account-table .table tr:hover td {
  color: white;
  background-color: #147AA8;
}

.account .info {
  width: 1180px;
  height: 38px;
  margin: 32px auto 0;
  border-left: 6px #147AA8 solid;
  box-sizing: border-box;
  float: none;
}

.account .info li{
  margin-left: 16px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
}

.account .steps {
  margin-top: 48px;
}

.account .steps .step-item{
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 366px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  margin: 0 10px;
}

.account .steps .step-item .num{
  width: 380px;
  height: 64px;
  background: #147AA8;
  line-height: 64px;
  color: white;
  font-size: 20px;
  border-radius: 13px 13px 0 0;
}

.account .steps .step-item img{
  width: 96px;
  height: 96px;
  margin: 40px auto 0;
  /* border: 1px #888888 dashed;
  box-sizing: border-box; */
}

.account .steps .step-item .title{
  margin: 32px auto 0;
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.account .steps .step-item .hint{
  margin: 16px auto 0;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.45);
}

.account .line{
  margin-top: 32px;
}

.account .line img{
  display: inline;
  /* border: 1px #888888 dashed; */
}

.account .content{
  width: 911px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  float: none;
  margin: 32px auto 0;
}

.account .content a {
  color: #147AA8;
}

.account .content a:hover {
  color: rgba(0, 0, 0, 0.45);
  text-decoration: none;
}