article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none}img{display:block}ul,li{list-style:none;margin:0;padding:0}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.row {
    margin: 0px;
    padding: 0px;
}

/* 宽高 */
.w-100{ width: 100%;}
.h-100{ height: 100%;}

.p-0 { padding: 0; }
.m-0 { margin: 0; }

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/*头部样式*/
.header {
    background-color: #215576;
    height: 40px;
    line-height: 40px;
}

.header .item {
    color: #82A0B1;
    font-size: 14px;
    padding: 0 15px;
}

.header .item:hover {
    color: #FFF;
    text-decoration: none;
}

.header .item:last-child {
    padding-right: 0;
}

.header .item:nth-child(3) {
    border-right: 1px #82A0B1 solid;
}

.header .item .lang-img {
    display: inline-block;
}

/* top */
.top {
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: center;
    background-size: cover;
    background-color: #215576;
}

.navbar {
    height: 70px;
    box-sizing: border-box;
    border-bottom: 1px #416373 solid;
    border-radius: 0;
    padding: 0;
    margin: 0 auto;
}

.navbar .logo {
    padding: 16px 0;
}

.navbar .menu {
    height: 70px;
    line-height: 70px;
    padding: 0;
}

.navbar .menu .item {
    display: inline-block;
    height: 70px;
    color: white;
    margin: 0 18px;
    box-sizing: border-box;
}

.navbar .menu .item:hover {
    color: #33B3F3;
    text-decoration: none;
}

.navbar .menu .item:last-child {
    margin-right: 0px;
}

.navbar .menu .active {
    color: #33B3F3;
    /* border-bottom: 4px #33B3F3 solid; */
}

.navbar .menu .active::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: #33B3F3;
    border-radius: 4px;
    margin-top: -6px;
}

/*底部样式*/
.footer {
    width: 100%;
}

.footer .links {
    /* height: 344px; */
    padding: 52px 0;
    background: #333940;
}

.footer .links .link-item {
    /* margin: 52px 0 0; */
    width: 180px;
}

.footer .links .link-item:first-child {
    margin-right: 50px;
}

.footer .links .link-item .title {
    font-size: 20px;
    color: white;
}

.footer .links .link-item .content {
    margin-top: 24px;
}

.footer .links .link-item .content li {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.45);
    margin-bottom: 12px;
}

.footer .links .link-item .content li a {
    color: rgba(255, 255, 255, 0.45);
}

.footer .links .link-item .content li a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer .logo {
    right: 0;
    bottom: 0px;
}

.footer .info {
    /* height: 337px; */
    padding: 40px 0;
    background: #1F2225;
}

.footer .info .risk {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.45);
    line-height: 17px;
    /* margin-top: 40px; */
}

.footer .info .risk a {
    color: rgba(255, 255, 255, 0.45);
}

.footer .info .risk a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer .info .line {
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 24px;
}

.footer .info .terms {
    margin-top: 24px;
}

.footer .info .terms a {
    font-size: 14px;
    color: #1AB6FF;
}

.footer .info .terms a:hover {
    color: #FFF;
    text-decoration: none;
}

.footer .info .terms span {
    color: #787C7F;
    margin: 0 10px;
}

/* 加入 */
.join {
    height: 213px;
    background-image: url(../images/bg_join.jpg);
  }
  
  .join .join-text {
    font-size: 32px;
    color: white;
    margin-top: 48px;
  }
  
  .join .reg-real {
    margin-top: 24px;
  }
  
  .join .reg-sim {
    margin-top: 24px;
  }
  
  .reg-real {
    display: inline-block;
    width: 240px;
    height: 48px;
    line-height: 48px;
    color: #E6FFFF;
    text-align: center;
    font-size: 18px;
    margin: 90px 20px 0 0;
    background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
    border-radius: 4px;
  }
  
  .reg-sim {
    display: inline-block;
    width: 240px;
    height: 48px;
    line-height: 48px;
    color: #E6FFFF;
    text-align: center;
    font-size: 18px;
    margin: 90px 0 0;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px #7592A0 solid;
  }
  
  .reg-real:hover {
    color: #7592A0;
    cursor: pointer;
  }
  
  .reg-sim:hover {
    color: #33B3F3;
    cursor: pointer;
  }

  .reg-sim2 {
    display: inline-block;
    width: 240px;
    height: 48px;
    line-height: 48px;
    color: #147AA8;
    text-align: center;
    font-size: 18px;
    margin: 90px 0 0;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px #147AA8 solid;
  }
  
  .reg-sim2:hover {
    color: #33B3F3;
    cursor: pointer;
  }