.banner .block {
  margin: 110px auto 0;
  width: 80px;
  height: 5px;
  background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
}

.banner .start {
  color: white;
  margin: 45px auto 0;
  font-size: 38px;
}

.banner .start2 {
  color: rgba(255, 255, 255, 0.45);
  margin: 30px auto 0;
  font-size: 22px;
}

.company {
  padding: 60px 0 80px;
  background-color: #fff;
}

.image {
  display: inline;
  /* border: 1px #888888 dashed;
  box-sizing: border-box; */
}

.right {
  width: 480px;
  margin: 80px 0 0 100px;
}

.right .block {
  width: 80px;
  height: 5px;
  background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
  margin-top: 32px;
}

.right .title {
  font-size: 32px;
  color: black;
}

.right .hint {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 40px;
}

.contact {
  padding: 60px 0;
  background: #F2F4F5;
}

.contact .contact-item {
  display: inline-block;
  vertical-align: top;
  width: 580px;
  height: 220px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 0 10px;
  padding: 56px 48px;
}

.contact .contact-item image {
  display: inline-block;
  vertical-align: middle;
  /* margin-top: 8px; */
  /* border: 1px #888888 dashed;
  box-sizing: border-box; */
}

.contact .contact-item ul {
  display: inline-block;
  vertical-align: middle;
  margin-left: 44px;
  text-align: left;
}

.contact .contact-item ul li{
  line-height: 36px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.45);
}

.contact .contact-item ul li span{
  color: rgba(0, 0, 0, 1);
}

.contact .contacts {
  width: 1180px;
  height: 599px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 60px auto 0;
  float: none;
  padding: 32px 40px;
}

.contact .contacts .title {
  text-align: left;
  font-size: 24px;
  color: black;
}

.form {
  margin-top: 8px;
  width: 100%;
}

.form .form-row {
  width: 100%;
  text-align: left;
}

.form .form-row .label {
  display: inline-block;
  vertical-align: top;
  width: 440px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 0;
  margin-top: 32px;
}

.form .form-row .label span {
  color: #FF2626;
  font-weight: bold;
}

.form .form-row .input {
  width: 360px;
  height: 48px;
  display: inline-block;
  vertical-align: top;
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid #CED4D9;
  box-sizing: border-box;
  outline: none;
  margin-top: 12px;
  margin-right: 80px;
}

.form .form-row .textarea {
  width: 800px;
  height: 96px;
  border-radius: 4px;
  border: 1px solid #CED4D9;
  outline: none;
  margin-top: 12px;
  padding: 13px 16px;
  resize: none;
}

.form .form-row .submit {
  width: 240px;
  height: 48px;
  background: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
  border-radius: 4px;
  font-size: 16px;
  color: white;
  margin-top: 40px;
  border: 0;
  outline: none;
}

.form .form-row .submit:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
}