.banner .block {
    margin: 160px auto 0;
    width: 80px;
    height: 5px;
    background-color: #33B3F3;
}
.banner .start {
    color: white;
    margin: 55px auto 0;
    font-size: 60px;
    font-weight: 300;
}

.banner .start2 {
    color: #33B3F3;
    margin: 34px auto 0;
    font-size: 22px;
}

/* .reg-real {
    display: inline-block;
    width: 240px;
    height: 48px;
    line-height: 48px;
    color: #E6FFFF;
    text-align: center;
    font-size: 18px;
    margin: 90px 20px 0 0;
    background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
    border-radius: 4px;
}

.reg-sim {
    display: inline-block;
    width: 240px;
    height: 48px;
    line-height: 48px;
    color: #E6FFFF;
    text-align: center;
    font-size: 18px;
    margin: 90px 0 0;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px #7592A0 solid;
}

.reg-real:hover {
    color: #7592A0;
    cursor: pointer;
}

.reg-sim:hover {
    color: #33B3F3;
    cursor: pointer;
} */

.advantage {
    /* margin: 80px auto 0; */
    /* height: 500px; */
    padding: 80px 0;
    background-color: #fff;
}

.advantage .adv-text {
    font-size: 32px;
    color: black;
}

.advantage .adv-text-en {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
}

.advantage .advs {
    margin: 50px auto 0;
}

.advantage .advs .adv-item {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    height: 226px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 36px 32px;
    margin: 0 10px;
}

.advantage .advs .adv-item .left {
    display: inline-block;
    vertical-align: top;
    width: 130px;
}

.advantage .advs .adv-item .left .img {
    margin: 28px 0 0;
}

.advantage .advs .adv-item .right {
    display: inline-block;
    vertical-align: top;
}

.advantage .advs .adv-item .right .title {
    font-size: 24px;
    color: black;
    text-align: left;
}

.advantage .advs .adv-item .right .content {
    width: 180px;
    margin: 16px 0 0;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    text-align: left;
}

.trade {
    /* height: 560px; */
    padding: 100px 0;
    background: #F2F4F5;
}

.trade .left {
    padding: 62px 0 0;
}

.trade .left .title {
    font-size: 32px;
    color: black;
}

.trade .left .hint {
    width: 410px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    margin: 16px 0 0;
}

.trade .left .button {
    width: 240px;
    height: 48px;
    line-height: 48px;
    color: #E6FFFF;
    text-align: center;
    font-size: 16px;
    margin: 40px 0 0;
    background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
    border-radius: 4px;
    box-shadow: 0px 4px 16px 0px rgba(14, 123, 163, 0.3);
}

.trade .left .button:hover {
    color: #7592A0;
    cursor: pointer;
}

.trade .right {
    padding: 0;
}

.exec {
    /* height: 670px; */
    background-color: #fff;
    padding: 60px 0 80px;
}

.exec .exec-text {
    font-size: 32px;
    color: black;
}

.exec .exec-text-en {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
}

.exec .left {
    margin: 48px 0 0;
}

.exec .right {
    margin: 53px 0 0;
}

.exec .right .exec-item {
    margin: 0 0 30px 88px;
}

.exec .right .exec-item .vline {
    width: 8px;
    height: 52px;
    background-color: #147AA8;
    display: inline-block;
    vertical-align: top;
}

.exec .right .exec-item .content {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.exec .right .exec-item .content .title {
    font-size: 24px;
    color: black;
    line-height: 1;
}

.exec .right .exec-item .content .hint {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
    margin-top: 12px;
    line-height: 22px;
}

/* .join {
    height: 213px;
    background-image: url(../images/bg_join.jpg);
}

.join .join-text {
    font-size: 32px;
    color: white;
    margin-top: 48px;
}

.join .reg-real {
    margin-top: 24px;
}

.join .reg-sim {
    margin-top: 24px;
} */

.coop {
    /* height: 718px; */
    padding: 80px 0;
    background: #F2F4F5;
}

.coop .cos {
    margin-top: 00px;
}

.coop .cos .cos-item {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    height: 370px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    box-sizing: border-box;
    margin: 0 10px;
}

.coop .cos .cos-item .line {
    width: 80px;
    height: 6px;
    background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
}

.coop .cos .cos-item .title {
    margin-top: 24px;
    font-size: 24px;
    color: black;
    text-align: left;
}

.coop .cos .cos-item .content {
    margin-top: 32px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    text-align: left;
}

.coop .cos .cos-item .content li {
    margin-bottom: 18px;
}

.coop .cos .cos-item .content img {
    display: inline-block;
    margin-right: 8px;
}

.coop .coop-text {
    font-size: 32px;
    color: black;
    margin-top: 48px;
}

.coop .coops {
    margin: 48px auto 0;
}

.coop .coops img {
    margin: 0 auto;
}

.video {
    width: 1920px;
    height: 700px;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* 屏蔽视频右键菜单选择 显示控件 后出现的控件条 */
video::-webkit-media-controls-panel,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-toggle-closed-captions-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-download-button {
    display: none;
}