.banner .block {
  margin: 110px auto 0;
  width: 80px;
  height: 5px;
  background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
}

.banner .start {
  color: white;
  margin: 45px auto 0;
  font-size: 38px;
}

.banner .start2 {
  color: rgba(255, 255, 255, 0.45);
  margin: 30px auto 0;
  font-size: 22px;
}

.coop {
  padding: 60px 0;
  background-color: #fff;
}

.coop .coop-text{
  font-size: 32px;
  color: black;
}

.coop .coop-text2 {
  margin-top: 16px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
}

.coop .coops {
  margin-top: 40px;
}

.coop .coops .coop-item {
  width: 200px;
  margin: 0 50px;
  display: inline-block;
  vertical-align: top;
}

.coop .coops .coop-item img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.coop .coops .coop-item .title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  margin-top: 16px;
}

.legend {
  padding: 60px 0;
  background: #F2F4F5;
}

.legend {
  padding: 60px 0;
  background: #F2F4F5;
}

.legend .legend-text {
  font-size: 32px;
  color: black;
}

.legend .legend-text2 {
  margin-top: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
}

.legend .legends {
  margin-top: 40px;
}

.legend .legends .legend-item {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  height: 148px;
  line-height: 84px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0 10px;
  padding: 32px 20px;
  font-size: 20px;
  color: black;
  font-weight: 400;
}

.legend .legends .legend-item span {
  display: inline-block;
  vertical-align: middle;
  line-height: 28px;
}

.contact {
  width: 380px;
  height: 48px;
  line-height: 48px;
  border-radius: 4px;
  border: 1px solid #147AA8;
  font-size: 16px;
  font-weight: 400;
  color: #147AA8;
  margin: 40px auto 0;
  float: none;
}

.contact:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45);
}

.ib {
  padding: 60px 0;
  background-color: #fff;
}

.wl {
  padding: 60px 0;
  background: #F2F4F5;
}

.fm {
  padding: 60px 0;
  background-color: #fff;
}

.right {
  width: 480px;
  margin: 70px 0 0 100px;
}

.right .block {
  width: 80px;
  height: 5px;
  background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
}

.right .title {
  font-size: 32px;
  color: black;
  margin-top: 24px;
}

.right .hint {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 16px;
}

.right .list {
  margin-top: 40px;
}

.right .list li {
  margin-bottom: 16px;
}

.right .list li .icon{
  display: inline;
  vertical-align: middle;
  /* border: 1px #888888 dashed;
  box-sizing: border-box; */
}

.right .list li span{
  color: #205676;
  font-size: 20px;
  font-weight: 500;
  margin-left: 8px;
  vertical-align: middle;
}

.api {
  padding: 60px 0;
}

.api .api-text {
  font-size: 32px;
  color: black;
}

.api .api-text2 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 12px;
}

.api .apis {
  margin-top: 40px;
}

.api .apis .api-item {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 226px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 37px 32px;
  margin: 0 10px;
}

.api .apis .api-item img {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  margin-right: 48px;
}

.api .apis .api-item .right {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 180px;
  margin: 0;
  padding: 0;
}

.api .apis .api-item .right .title {
  font-size: 24px;
  color: black;
  margin: 0;
}

.api .apis .api-item .right .content {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 16px;
}