.banner .block {
  margin: 110px auto 0;
  width: 80px;
  height: 5px;
  background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
}

.banner .start {
  color: white;
  margin: 45px auto 0;
  font-size: 38px;
}

.banner .start2 {
  color: rgba(255, 255, 255, 0.45);
  margin: 30px auto 0;
  font-size: 22px;
}

.platform {
  padding: 60px 0;
}

.platform .platform-text{
  font-size: 32px;
  color: black;
}

.platform .platform-text-en{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
}

.platform .systems{
  margin-top: 22px;
}

.platform .systems .sys-item {
  display: inline-block;
  vertical-align: top;
  width: 580px;
  height: 597px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 32px;
  margin: 10px;
}

/* .platform .systems .sys-item img {
  border: 1px #888888 dashed;
  box-sizing: border-box;
} */

.platform .systems .sys-item .title {
  font-size: 32px;
  color: black;
  margin-top: 24px;
  text-align: left;
}

.platform .systems .sys-item .content {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 16px;
  text-align: left;
}

.platform .systems .sys-item .list {
  height: 70px;
  font-size: 16px;
  color: #205676;
  margin-top: 24px;
  text-align: left;
  border-left: 6px #205676 solid;
  box-sizing: border-box;
}

.platform .systems .sys-item .list ul{
  margin-left: 16px;
}

.platform .systems .sys-item .list ul li{
  height: 23.3px;
  line-height: 23.3px;
  font-weight: bold;
}

.platform .advs{
  margin-top: 48px;
}

.platform .advs .adv-item {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 549px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 48px 24px 32px;
  margin: 10px;
}

.platform .advs .adv-item img {
  /* border: 1px #888888 dashed;
  box-sizing: border-box; */
  width: 180px;
  margin: 0 auto;
}

.platform .advs .adv-item .title {
  font-size: 24px;
  color: black;
  margin-top: 32px;
  text-align: left;
}

.platform .advs .adv-item .content {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 16px;
  text-align: left;
}

.platform .advs .adv-item .list {
  height: 70px;
  font-size: 16px;
  color: #205676;
  margin-top: 24px;
  text-align: left;
}

.platform .advs .adv-item .list ul li{
  height: 24px;
  font-size: 18px;
  color: #205676;
  margin-bottom: 6px;
}

.platform .advs .adv-item .list ul li img{
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

.platform .platform-text2{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 16px;
}

.platform .stps{
  margin-top: 60px;
}

.platform .stps .stp-item{
  width: 210px;
  display: inline-block;
  vertical-align: top;
  margin: 0 120px;
}

.platform .stps .stp-item img{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /* border: 1px #888888 dashed;
  box-sizing: border-box; */
}

.platform .stps .stp-item .title{
  color: black;
  font-size: 16px;
  margin-top: 16px;
}