.banner .block {
  margin: 110px auto 0;
  width: 80px;
  height: 5px;
  background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
}

.banner .start {
  color: white;
  margin: 45px auto 0;
  font-size: 38px;
}

.banner .start2 {
  color: rgba(255, 255, 255, 0.45);
  margin: 30px auto 0;
  font-size: 22px;
}

.exec {
  padding: 60px 0;
  background-color: #fff;
}

.exec .exec-text {
  font-size: 32px;
  color: black;
}

.exec .exec-text-en {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
}

.exec .execs {
  margin-top: 60px;
}

.image {
  display: inline;
  /* border: 1px #888888 dashed;
  box-sizing: border-box; */
}

.right {
  width: 480px;
  margin: 40px 0 0 100px;
}

.right .block {
  width: 80px;
  height: 5px;
  background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
}

.right .title {
  font-size: 32px;
  color: black;
  margin-top: 24px;
}

.right .hint {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 16px;
}

.right .list {
  margin-top: 40px;
}

.right .list li {
  margin-bottom: 16px;
}

.right .list li .icon{
  display: inline;
  vertical-align: middle;
  /* border: 1px #888888 dashed;
  box-sizing: border-box; */
}

.right .list li span{
  color: #205676;
  font-size: 20px;
  font-weight: 500;
  margin-left: 8px;
  vertical-align: middle;
}

.lots {
  padding: 60px 0;
  background: #F2F4F5;
}

.trade {
  padding: 60px 0;
  background:#FFF;
}

.trade .trade-text {
  font-size: 32px;
  color: black;
}

.trade .trade-text-en {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
}

.trade .trades {
  margin-top: 48px;
}

.trade .trades .trade-item {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 553px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 0 10px;
}

.trade .trades .trade-item .wrap {
  padding: 24px;
}

.trade .trades .trade-item .wrap .title {
  font-size: 24px;
  color: black;
}

.trade .trades .trade-item .wrap .hint {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 16px;
}

.trade .trades .trade-item .wrap .list {
  margin-top: 24px;
}

.trade .trades .trade-item .wrap .list li {
  margin-bottom: 6px;
}

.trade .trades .trade-item .wrap .list li .icon{
  display: inline;
  vertical-align: middle;
  /* border: 1px #888888 dashed;
  box-sizing: border-box; */
}

.trade .trades .trade-item .wrap .list li span{
  color: #205676;
  font-size: 18px;
  font-weight: 500;
  margin-left: 8px;
  vertical-align: middle;
}

.metal {
  padding: 60px 0;
  background: #F2F4F5;
}

.metal .metal-text {
  font-size: 32px;
  color: black;
}

.metal .metal-text-en {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
}

.metal .metals {
  margin-top: 16px;
}

.metal .metals .metal-item {
  width: 1180px;
  height: 242px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 32px auto 0;
  padding: 32px;
}

.metal .metals .metal-item .image {
  display: inline-block;
  vertical-align: top;
}

.metal .metals .metal-item .content {
  display: inline-block;
  vertical-align: top;
  margin: 0 60px;
  width: 336px;
}

.metal .metals .metal-item .content .block {
  margin-top: 16px;
  width: 80px;
  height: 6px;
  background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
}

.metal .metals .metal-item .content .title {
  font-size: 32px;
  color: black;
}

.metal .metals .metal-item .content .hint {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 24px;
}

.metal .metals .metal-item .vline {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  height: 148px;
  background: #E6E6E6;
  margin-top: 15px;
}

.metal .metals .metal-item .icons {
  display: inline-block;
  vertical-align: top;
  margin: 29px 0 0 10px;
}

.metal .metals .metal-item .icons .icon-item {
  display: inline-block;
  vertical-align: top;
  width: 96px;
  margin: 0 20px;
}

.metal .metals .metal-item .icons .icon-item:last-child {
  margin-right: 0;
}

.metal .metals .metal-item .icons .icon-item img {
  margin: 0 auto;
  /* border: 1px #888888 dashed;
  box-sizing: border-box; */
}

.metal .metals .metal-item .icons .icon-item .title {
  width: 100%;
  margin-top: 16px;
  font-size: 14px;
  color: #205676;
}