.banner .block {
  margin: 110px auto 0;
  width: 80px;
  height: 5px;
  background-image: linear-gradient(135deg, #1581CD 0%, #50F9C0 100%);
}

.banner .start {
  color: white;
  margin: 45px auto 0;
  font-size: 38px;
}

.banner .start2 {
  color: rgba(255, 255, 255, 0.45);
  margin: 30px auto 0;
  font-size: 22px;
}

.background {
  height: 420px;
  background-color: #fff;
}

.background .background-text {
  color: black;
  font-size: 30px;
  margin-top: 70px;
}

.background .background-text-en {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
}

.background .bgs {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 8px;
}

.background .bgs .bg-item {
  width: 780px;
  margin: 32px auto 0;
}

.target {
  /* height: 385px; */
  padding: 60px 0;
  background: #F2F4F5;
}

.target .target-text{
  color: black;
  font-size: 30px;
  /* margin-top: 60px; */
}

.target .target-hint {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 12px;
}

.target .targets {
  margin-top: 48px;
}

.target .targets .target-item{
  margin: 0 40px;
  width: 120px;
  display: inline-block;
  vertical-align: top;
}

.target .targets .target-item > img{
  margin: 0 auto;
}

.target .targets .target-item > div{
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 16px;
}

.advantage {
  /* height: 590px; */
  padding: 60px 0;
  color: white;
}

.advantage .advantage-text {
  /* margin-top: 60px; */
  font-size: 32px;
  color: black;
}

.advantage .advs {
  margin-top: 40px;
}

.advantage .advs .adv-item {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  height: 176px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-image: url(../images/bg_checked.png);
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 10px;
}

.advantage .advs .adv-item .text {
  width: 140px;
  font-size: 20px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lots {
  background-color: #fff;
  padding: 60px 0;
  box-sizing: border-box;
}

.lots .lots-text {
  font-size: 32px;
  color: black;
}

.lots .lots-tab {
  margin-top: 40px;
  font-size: 0;
  letter-spacing: -4px;/*根据不同字体字号或许需要做一定的调整*/
  word-spacing: -4px;
}

.lots .lots-tab .lots-tab-item {
  display: inline-block;
  vertical-align: top;
  width: 570px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  border-bottom: 2px #147AA8 solid;
  color: #727272;
  margin: 0;
  letter-spacing: normal;
  word-spacing: normal;
}

.lots .lots-tab .lots-tab-item:hover {
  cursor: pointer;
}

.lots .lots-tab .active {
  color: #ffffff;
  background-color: #147AA8;
}

.lots .lots-table {
  margin-top: 20px;
}

.lots .lots-table .table {
  width: 1140px;
  margin: 0 auto;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  border: 0;
}

.lots .lots-table .table td {
  height: 40px;
  border: 0;
}

.lots .lots-table .table tr {
  transition: 0.1s all;
}

.lots .lots-table .table tr:nth-child(1) {
  color: rgba(0, 0, 0, 1);
}

.lots .lots-table .table tr:nth-child(even) {
  background: #F0F1F2;
}

.lots .lots-table .table tr:hover {
  color: white;
  background-color: #147AA8;
}

.exec {
  padding: 60px 0;
  background: #F2F4F5;
}

.exec .exec-text{
  font-size: 32px;
  color: black;
}

.exec .exec-hint{
  /* width: 780px; */
  font-size: 20px;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 16px;
}

.exec .execs {
  margin-top: 48px;
}

.exec .execs .exec-item {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  margin: 0 60px;
}

.exec .execs .exec-item img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  /* border: 1px #205676 dashed;
  box-sizing: border-box; */
}

.exec .execs .exec-item > div {
  margin: 16px auto 0;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
}

.regulation {
  padding: 60px 0 135px;
  background-color: #fff;
}

.regulation .regulation-text {
  font-size: 32px;
  color: black;
}

.regulation .regulations {
  margin-top: 90px;
}

.regulation .regulations .regualtion-item {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  height: 408px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 24px;
  box-sizing: border-box;
  margin: 0 10px;
}

.regulation .regulations .regualtion-item .title {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
  height: 66px;
  text-align: left;
}

.regulation .regulations .regualtion-item img {
  margin-top: 16px;
  /* border: 1px #888888 dashed;
  box-sizing: border-box; */
}

.regulation .regulations .regualtion-item .content {
  margin-top: 16px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  text-align: left;
}